interviewer-dev.gisul.ai {
	tls /etc/letsencrypt/live/interviewer-dev.gisul.ai/fullchain.pem /etc/letsencrypt/live/interviewer-dev.gisul.ai/privkey.pem
	encode zstd gzip

	header {
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Permissions-Policy "camera=(self), microphone=(self), geolocation=()"
		-Server
	}

	@application not path /_next/static/* /favicon.ico
	header @application Cache-Control "no-store"

	reverse_proxy frontend:3000
}
